/PSW 12 - gerenciamento de assinaturas com python/.vscode
/PSW 12 - gerenciamento de assinaturas com python/models/__pycache__
/PSW 12 - gerenciamento de assinaturas com python/templates/__pycache__
/PSW 12 - gerenciamento de assinaturas com python/views/__pycache__
/PSW 12 - gerenciamento de assinaturas com python/database.db

/PSW 12 - Diário online Full-Stack com Python e Django/.vscode
/PSW 12 - Diário online Full-Stack com Python e Django/db.sqlite3
/PSW 12 - Diário online Full-Stack com Python e Django/media/foto
/PSW 12 - Diário online Full-Stack com Python e Django/diario/__pycache__
/PSW 12 - Diário online Full-Stack com Python e Django/diario/migrations/
/PSW 12 - Diário online Full-Stack com Python e Django/core/__pycache__



