/PSW 12 - gerenciamento de assinaturas com python/.vscode
/PSW 12 - gerenciamento de assinaturas com python/models/__pycache__
/PSW 12 - gerenciamento de assinaturas com python/templates/__pycache__
/PSW 12 - gerenciamento de assinaturas com python/views/__pycache__
/PSW 12 - gerenciamento de assinaturas com python/database.db
